se/test/wsdls/light.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
*****************************************
Generated from file light.xsd
target_namespace=http://schemas.wiseman.dev.java.net/traffic/1/light.xsd
xsd_file=light.xsd
service_name=light
resource_type=TrafficLightType
resource_name=trafficlight
resource_uri=urn:resources.wiseman.dev.java.net/traffic/1/light
*****************************************
-->
<definitions xmlns:tns="http://schemas.wiseman.dev.java.net/traffic/1/light.xsd"
        xmlns:state="http://schemas.wiseman.dev.java.net/traffic/1/light.xsd"
        xmlns:wxf="http://schemas.xmlsoap.org/ws/2004/09/transfer"
        xmlns:wsen="http://schemas.xmlsoap.org/ws/2004/09/enumeration"
        xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
        xmlns:wsman="http://schemas.xmlsoap.org/ws/2005/06/management" 
        targetNamespace="http://schemas.wiseman.dev.java.net/traffic/1/light.xsd">
        <import namespace="http://schemas.xmlsoap.org/ws/2004/09/transfer"
                location="http://schemas.xmlsoap.org/ws/2004/09/transfer/transfer.wsdl" />
        <import namespace="http://schemas.xmlsoap.org/ws/2004/09/enumeration"
                location="http://schemas.xmlsoap.org/ws/2004/09/enumeration/enumeration.wsdl" />
        <import namespace="http://schemas.xmlsoap.org/ws/2004/08/eventing"
                location="http://schemas.xmlsoap.org/ws/2004/08/eventing/eventing.wsdl" />
        <types>
                <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                        elementFormDefault="qualified" blockDefault="#all">
                        <xs:import namespace="http://schemas.xmlsoap.org/ws/2004/09/transfer"
                                   schemaLocation="http://schemas.xmlsoap.org/ws/2004/09/transfer/transfer.xsd" />
                        <xs:import namespace="http://schemas.xmlsoap.org/ws/2004/09/enumeration"
                                   schemaLocation="http://schemas.xmlsoap.org/ws/2004/09/enumeration/enumeration.xsd" />
                        <!-- 
                        <xs:import namespace="http://schemas.xmlsoap.org/ws/2004/08/eventing"
                                   schemaLocation="http://schemas.xmlsoap.org/ws/2004/08/eventing/eventing.xsd" />
                          -->  
                        <xs:import namespace="http://schemas.wiseman.dev.java.net/traffic/1/light.xsd" schemaLocation="../xsd/light.xsd"/>
                </xs:schema>
        </types>
        <!-- Custom Messages -->
        <message name="TrafficLightTypeMessage">
                <part name="TrafficLightTypeMessage" element="state:trafficlight" />
        </message>
        <message name="CreateResponseMessage">
                <part name="CreateResponseMessage"
                        element="wxf:ResourceCreated" />
        </message>

        <!-- PortTypes -->
        
        <portType name="lightResource">
                <documentation>
                        This port type defines a resource that may be
                        read, written, created, deleted or enuumerated.
                </documentation>
                
                <!-- WS-Transfer Operations -->
                <operation name="Get">
                        <input message="wxf:EmptyMessage"
                                wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/transfer/Get" />
                        <output message="tns:TrafficLightTypeMessage"
                                wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/transfer/GetResponse" />
                </operation>
                <operation name="Put">
                        <input message="tns:TrafficLightTypeMessage"
                                wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/transfer/Put" />
                        <output message="wxf:OptionalXmlMessage"
                                wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/transfer/PutResponse" />
                </operation>
                <operation name="Delete">
                        <input message="wxf:EmptyMessage"
                                wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/transfer/Delete" />
                        <output message="wxf:EmptyMessage"
                                wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/transfer/DeleteResponse" />
                </operation>
                <operation name="Create">
                        <input message="tns:TrafficLightTypeMessage"
                                wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/transfer/Create" />
                        <output message="tns:CreateResponseMessage"
                                wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/transfer/CreateResponse" />
                </operation>
                
                <!-- TODO: Add all Custom Operations with Custom wsa:Action Attributes here
                <operation name="CustomOp">
                        <input message="wxf:EmptyMessage"
                                wsa:Action="http://wiseman.dev.java.net/schema/CustomOp" />
                        <output message="wxf:EmptyMessage"
                                wsa:Action="http://wiseman.dev.java.net/schema/CustomOpResponse" />
                </operation>
                 -->
                
                <!-- WS-Enumeration Operations -->
                <operation name="EnumerateOp">
                        <input message="wsen:EnumerateMessage"
                                wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/Enumerate" />
                        <output message="wsen:EnumerateResponseMessage"
                                wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/EnumerateResponse" />
                </operation>
                <operation name="PullOp">
                        <input message="wsen:PullMessage"
                                wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/Pull" />
                        <output message="wsen:PullResponseMessage"
                                wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/PullResponse" />
                </operation>
                <operation name="RenewOp">
                        <input message="wsen:RenewMessage"
                                wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/Renew" />
                        <output message="wsen:RenewResponseMessage"
                                wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/RenewResponse" />
                </operation>
                <operation name="GetStatusOp">
                        <input message="wsen:GetStatusMessage"
                                wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/GetStatus" />
                        <output message="wsen:GetStatusResponseMessage"
                                wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/GetStatusResponse" />
                </operation>
                <operation name="ReleaseOp">
                        <input message="wsen:ReleaseMessage"
                                wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/Release" />
                        <output message="wsen:ReleaseResponseMessage"
                                wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/ReleaseResponse" />
                </operation>
                <operation name="EnumerationEndOp">
                        <output message="wsen:EnumerationEndMessage"
                                wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/EnumerationEnd" />
                </operation>
        </portType>

        <binding name="lightResourceBinding" type="tns:lightResource">
          <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>

                <!-- WS-Tranfer Operations -->
                <operation name="Get">
                <wsoap12:operation soapAction="http://schemas.xmlsoap.org/ws/2004/09/transfer/Get"/>
                        <input>                        
                                <wsoap12:body use="literal"/>
                        </input>
                        <output>
                                <wsoap12:body use="literal"/>
                        </output>
                </operation>
                <operation name="Put">
                <wsoap12:operation soapAction="http://schemas.xmlsoap.org/ws/2004/09/transfer/Put"/>
                        <input>                        
                                <wsoap12:body use="literal"/>
                        </input>
                        <output>
                                <wsoap12:body use="literal"/>
                        </output> 
                </operation>
                <operation name="Delete">
                <wsoap12:operation soapAction="http://schemas.xmlsoap.org/ws/2004/09/transfer/Delete"/>
                        <input>                        
                                <wsoap12:body use="literal"/>
                        </input>
                        <output>
                                <wsoap12:body use="literal"/>
                        </output>
                </operation>
                <operation name="Create">
                      <wsoap12:operation soapAction="http://schemas.xmlsoap.org/ws/2004/09/transfer/Create"/>
                      <input>                        
                              <wsoap12:body use="literal"/>
                      </input>
                      <output>
                              <wsoap12:body use="literal"/>
                      </output>
                </operation>
                
                <!-- TODO: Add all Custom Operations with Custom wsa:Action Attributes here
                <operation name="CustomOp">
                <wsoap12:operation soapAction="http://wiseman.dev.java.net/schema/CustomOp"/>
                        <input>                        
                                <wsoap12:body use="literal"/>
                        </input>
                        <output>
                                <wsoap12:body use="literal"/>
                        </output>               
                </operation>
                 -->
                
                <!-- WS-Enumeration Operations -->
                <operation name="EnumerateOp">
                <wsoap12:operation soapAction="http://schemas.xmlsoap.org/ws/2004/09/enumeration/Enumerate"/>
                        <input>                        
                                <wsoap12:body use="literal"/>
                        </input>
                        <output>
                                <wsoap12:body use="literal"/>
                        </output>
                </operation>
                <operation name="PullOp">
                <wsoap12:operation soapAction="http://schemas.xmlsoap.org/ws/2004/09/enumeration/Pull"/>
                        <input>                        
                                <wsoap12:body use="literal"/>
                        </input>
                        <output>
                                <wsoap12:body use="literal"/>
                        </output>
                </operation>
                <operation name="RenewOp">
                <wsoap12:operation soapAction="http://schemas.xmlsoap.org/ws/2004/09/enumeration/Renew"/>
                        <input>                        
                                <wsoap12:body use="literal"/>
                        </input>
                        <output>
                                <wsoap12:body use="literal"/>
                        </output>
                </operation>
                <operation name="GetStatusOp">
                <wsoap12:operation soapAction="http://schemas.xmlsoap.org/ws/2004/09/enumeration/GetStatus"/>
                        <input>                        
                                <wsoap12:body use="literal"/>
                        </input>
                        <output>
                                <wsoap12:body use="literal"/>
                        </output>   
                </operation>
                <operation name="ReleaseOp">
                <wsoap12:operation soapAction="http://schemas.xmlsoap.org/ws/2004/09/enumeration/Release"/>
                        <input>                        
                                <wsoap12:body use="literal"/>
                        </input>
                        <output>
                                <wsoap12:body use="literal"/>
                        </output>
                </operation>
                <operation name="EnumerationEndOp">
                <wsoap12:operation soapAction="http://schemas.xmlsoap.org/ws/2004/09/enumeration/EnumerationEnd"/>
                        <input>                        
                                <wsoap12:body use="literal"/>
                        </input>
                        <output>
                                <wsoap12:body use="literal"/>
                        </output>                
                </operation>
        </binding>

        <service name="lightService">
          <documentation>light Service</documentation>                               
                
                <port name="lightResource" binding="tns:lightResourceBinding">
                  <wsoap12:address location="http://localhost/wsman"/>
                  <wsa:EndpointReference>
                    <wsa:Address>http://localhost/wsman</wsa:Address>
                    <wsa:ReferenceParameters>
                       <wsman:ResourceURI>urn:resources.wiseman.dev.java.net/traffic/1/light</wsman:ResourceURI>
                    </wsa:ReferenceParameters>
                  </wsa:EndpointReference>
                </port>
                
        </service>                        
</definitions>