extensions/JSR262WiseManResourceProvider/thread.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://java.net/jvm" 
           elementFormDefault="qualified" blockDefault="#all" 
           xmlns:tl="http://java.net/jvm" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="ThreadType">
		<xs:sequence>
			<xs:element name="CurrentThreadCPUTime" type="xs:long"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Thread" type="tl:ThreadType"/>
</xs:schema>

